body {
    font-family: "Arial";
    height: 100vh;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, darkorange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, darkorange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, darkorange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, darkorange); /* Standard syntax */
}

td {
    vertical-align: middle!important;
}

.navbar-brand {
    font-family: "Arial Narrow";
    letter-spacing: 1px;
    font-weight: bold;
    color: tomato !important;
}

.container {
    margin-top: 70px;
}

.carousel .item img {
    height: 50vh;
    margin: 0 auto;
}

.carousel-caption {
    text-shadow: 1px 1px 8px black
}

.modal-content .modal-header {
    background-repeat: repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('http://silviahartmann.com/background-tile-art/images/grey-repeating-background-8.jpg');
    color: tomato;
}

.modal-content .modal-header .close{
    color: white;
}

.form-group label {
    font-size: 0.8em;
}

.loginContainer {
    width: 20vw;
    text-align: center !important;
}

.loginContainer .loginRow {
    width: 90%;
    margin: 5px 3% 0;
}

.welcome-note {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: gold !important;
}

.product-image {
    width: 100%;
}

.product-item {
    background: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 15px;
    margin: 5px;
    width: 20%;
    vertical-align: top;
    display: inline-table;
    text-align: left;
}

.needs-restock {
    background: maroon!important;
    color: lightblue;
}
.needs-restock a{
    color: white;
}

.product-item .price {
    color: tomato;
}

.admin-login {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: white;
}

.admin-login .admin-loginRow {
    margin-top: 5px;
}

.fixed-fab {
    position: fixed;
    bottom: 0;
    right: 2%;
    border-radius: 50%;
    font-size: 15vh;
}

.sideInfo-title {
    color: orange;
    font-weight: bold;
    font-size: 2em;
}

.sideInfo-item {
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height:40vh;
    overflow:scroll;
}